<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!-- Fontawesome CDN (latest version) -->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
    <!-- CSS -->
    <link rel="stylesheet" href="/PUBLIC/CSS/uploadPhoto.css" />
    <link rel="icon" type="image/png" 
    href="/PUBLIC/IMAGES/blog-logo.png">
    <title>Bloghub</title>
  </head>
  <body>
    <!--navbar-->
  <%-include("../PARTIALS/navbar.ejs")%>
  
    <div class="form-container">
      <!-- icon -->
      <h1>Upload Cover photo</h1>
      <% if (error) { %>
        <small class="error">
            <i class="fas fa-exclamation-circle"></i>
            <%= error %>
        </small>
    <% } %>
      <form action="/api/v1/users/cover-profile-pic?_method=put" 
       method="POST" enctype="multipart/form-data">
        <label for="email">Select Imgae</label>
        <input type="file" name="profile" id="image" />
        <button type="submit"> Upload
          <i class="fas fa-upload"></i>
        </button>
      </form>
    </div>
  </body>
</html>
