<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!-- Fontawesome CDN (latest version) -->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

    <!-- CSS -->
    <link rel="stylesheet" href="/PUBLIC/CSS/form.css" />
    <link rel="icon" type="image/png" 
    href="/PUBLIC/IMAGES/blog-logo.png">
    <title>Bloghub</title>
  </head>
  <body>
    <%- include("../PARTIALS/navbar.ejs")%>

    <div class="form-container">
      <!-- icon -->
      <h1>
        Add Your Post
        <!-- add icon -->
        <i class="fas fa-plus-circle"></i>
      </h1>
      <%if(error){%>
        <small class="error">
          <i class="fas fa-exclamation-circle"></i>
          <%=error%>
        </small>
        <%}%>
      <form enctype="multipart/form-data" 
            action="/api/v1/posts" method="POST">
        <!-- Post Title -->
        <div class="input-wrapper">
          <label for="name">Post Title</label>
          <input type="text" name="title" id="name" />
          <!-- err -->
        </div>

        <!-- Category -->
        <div class="input-wrapper">
          <label for="category">Category</label>
          <select name="category" id="category">
            <option value="fun">Fun</option>
            <option value="lifestyle">Lifestyle</option>
            <option value="hobby">Hobby</option>
            <option value="other">Other</option>
          </select>
          <!-- err -->
        </div>
        <div class="input-wrapper">
          <!-- Post Body -->
          <label for="body">About Post</label>
          <textarea name="description" id="body" cols="30" rows="10"></textarea>
          <!-- err -->
        </div>
        <!-- Post Image -->
        <div class="input-wrapper">
          <label for="image">Post Image</label>
          <input type="file" name="file" id="image" />
          <!-- err -->
        </div>

        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
